IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='vc_FollowerList')
BEGIN
	DROP TABLE vc_FollowerList
END

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='vc_UserTagList')
BEGIN
	DROP TABLE vc_UserTagList
END

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='vc_VidCastTagList')
BEGIN
	DROP TABLE vc_VidCastTagList
END

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='vc_Tag')
BEGIN
	DROP TABLE vc_Tag
END

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='vc_UserLogin')
BEGIN
	DROP TABLE vc_UserLogin
END

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='vc_VidCast')
BEGIN
	DROP TABLE vc_VidCast
END

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='vc_Status')
BEGIN
	DROP TABLE vc_Status
END

IF EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='vc_User')
BEGIN
	DROP TABLE vc_User
END

IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList_vc_VidCast]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]'))
ALTER TABLE [dbo].[vc_VidCastTagList] DROP CONSTRAINT [vc_VidCastTagList_vc_VidCast]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList_vc_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]'))
ALTER TABLE [dbo].[vc_VidCastTagList] DROP CONSTRAINT [vc_VidCastTagList_vc_Tag]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCast_vc_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCast]'))
ALTER TABLE [dbo].[vc_VidCast] DROP CONSTRAINT [vc_VidCast_vc_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCast_vc_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCast]'))
ALTER TABLE [dbo].[vc_VidCast] DROP CONSTRAINT [vc_VidCast_vc_Status]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList_vc_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]'))
ALTER TABLE [dbo].[vc_UserTagList] DROP CONSTRAINT [vc_UserTagList_vc_User]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList_vc_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]'))
ALTER TABLE [dbo].[vc_UserTagList] DROP CONSTRAINT [vc_UserTagList_vc_Tag]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK1_vc_UserLogin]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserLogin]'))
ALTER TABLE [dbo].[vc_UserLogin] DROP CONSTRAINT [FK1_vc_UserLogin]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK2_vc_FollowerList]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]'))
ALTER TABLE [dbo].[vc_FollowerList] DROP CONSTRAINT [FK2_vc_FollowerList]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK1_vc_FollowerList]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]'))
ALTER TABLE [dbo].[vc_FollowerList] DROP CONSTRAINT [FK1_vc_FollowerList]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__vc_UserLo__UserL__6CD828CA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[vc_UserLogin] DROP CONSTRAINT [DF__vc_UserLo__UserL__6CD828CA]
END
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__vc_User__UserReg__69FBBC1F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[vc_User] DROP CONSTRAINT [DF__vc_User__UserReg__69FBBC1F]
END
GO
/****** Object:  Index [U1_vc_VidCastTagList]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]') AND name = N'U1_vc_VidCastTagList')
ALTER TABLE [dbo].[vc_VidCastTagList] DROP CONSTRAINT [U1_vc_VidCastTagList]
GO
/****** Object:  Index [U1_vc_UserTagList]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]') AND name = N'U1_vc_UserTagList')
ALTER TABLE [dbo].[vc_UserTagList] DROP CONSTRAINT [U1_vc_UserTagList]
GO
/****** Object:  Index [U2_vc_User]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_User]') AND name = N'U2_vc_User')
ALTER TABLE [dbo].[vc_User] DROP CONSTRAINT [U2_vc_User]
GO
/****** Object:  Index [U1_vc_User]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_User]') AND name = N'U1_vc_User')
ALTER TABLE [dbo].[vc_User] DROP CONSTRAINT [U1_vc_User]
GO
/****** Object:  Index [U1_vc_Tag]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_Tag]') AND name = N'U1_vc_Tag')
ALTER TABLE [dbo].[vc_Tag] DROP CONSTRAINT [U1_vc_Tag]
GO
/****** Object:  Index [U1_vc_Status]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_Status]') AND name = N'U1_vc_Status')
ALTER TABLE [dbo].[vc_Status] DROP CONSTRAINT [U1_vc_Status]
GO
/****** Object:  Index [U1_vc_FollowerList]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]') AND name = N'U1_vc_FollowerList')
ALTER TABLE [dbo].[vc_FollowerList] DROP CONSTRAINT [U1_vc_FollowerList]
GO
/****** Object:  Table [dbo].[vc_VidCastTagList]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]') AND type in (N'U'))
DROP TABLE [dbo].[vc_VidCastTagList]
GO
/****** Object:  Table [dbo].[vc_VidCast]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCast]') AND type in (N'U'))
DROP TABLE [dbo].[vc_VidCast]
GO
/****** Object:  Table [dbo].[vc_UserTagList]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]') AND type in (N'U'))
DROP TABLE [dbo].[vc_UserTagList]
GO
/****** Object:  Table [dbo].[vc_UserLogin]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserLogin]') AND type in (N'U'))
DROP TABLE [dbo].[vc_UserLogin]
GO
/****** Object:  Table [dbo].[vc_User]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_User]') AND type in (N'U'))
DROP TABLE [dbo].[vc_User]
GO
/****** Object:  Table [dbo].[vc_Tag]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_Tag]') AND type in (N'U'))
DROP TABLE [dbo].[vc_Tag]
GO
/****** Object:  Table [dbo].[vc_Status]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_Status]') AND type in (N'U'))
DROP TABLE [dbo].[vc_Status]
GO
/****** Object:  Table [dbo].[vc_FollowerList]    Script Date: 05/16/2018 17:29:24 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]') AND type in (N'U'))
DROP TABLE [dbo].[vc_FollowerList]
GO
/****** Object:  Table [dbo].[vc_FollowerList]    Script Date: 05/16/2018 17:29:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[vc_FollowerList](
	[vc_FollowerListID] [int] IDENTITY(1,1) NOT NULL,
	[FollowerID] [int] NOT NULL,
	[FollowedID] [int] NOT NULL,
	[FollowerSince] [datetime] NOT NULL,
 CONSTRAINT [PK_vc_FollowerList] PRIMARY KEY CLUSTERED 
(
	[vc_FollowerListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[vc_Status]    Script Date: 05/16/2018 17:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_Status]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[vc_Status](
	[vc_StatusID] [int] IDENTITY(1,1) NOT NULL,
	[StatusText] [varchar](20) NOT NULL,
 CONSTRAINT [dbo.vc_Status_pk] PRIMARY KEY CLUSTERED 
(
	[vc_StatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[vc_Tag]    Script Date: 05/16/2018 17:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_Tag]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[vc_Tag](
	[vc_TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagText] [varchar](20) NOT NULL,
	[TagDescription] [varchar](100) NULL,
 CONSTRAINT [dbo.vc_Tag_pk] PRIMARY KEY CLUSTERED 
(
	[vc_TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[vc_User]    Script Date: 05/16/2018 17:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_User]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[vc_User](
	[vc_UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[EmailAddress] [varchar](50) NOT NULL,
	[UserDescription] [varchar](200) NULL,
	[WebSiteURL] [varchar](50) NULL,
	[UserRegisteredDate] [datetime] NOT NULL,
 CONSTRAINT [PK_vc_User] PRIMARY KEY CLUSTERED 
(
	[vc_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[vc_UserLogin]    Script Date: 05/16/2018 17:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserLogin]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[vc_UserLogin](
	[vc_UserLoginID] [int] IDENTITY(1,1) NOT NULL,
	[vc_UserID] [int] NOT NULL,
	[UserLoginTimestamp] [datetime] NOT NULL,
	[LoginLocation] [varchar](50) NOT NULL,
 CONSTRAINT [PK_vc_UserLogin] PRIMARY KEY CLUSTERED 
(
	[vc_UserLoginID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[vc_UserTagList]    Script Date: 05/16/2018 17:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[vc_UserTagList](
	[vc_UserTagListID] [int] IDENTITY(1,1) NOT NULL,
	[vc_TagID] [int] NOT NULL,
	[vc_UserID] [int] NOT NULL,
 CONSTRAINT [dbo.vc_UserTagList_pk] PRIMARY KEY CLUSTERED 
(
	[vc_UserTagListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[vc_VidCast]    Script Date: 05/16/2018 17:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCast]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[vc_VidCast](
	[vc_VidCastID] [int] IDENTITY(1,1) NOT NULL,
	[VidCastTitle] [varchar](50) NOT NULL,
	[StartDateTime] [datetime] NULL,
	[EndDateTime] [datetime] NULL,
	[ScheduleDurationMinutes] [int] NULL,
	[RecordingURL] [varchar](50) NULL,
	[vc_UserID] [int] NOT NULL,
	[vc_StatusID] [int] NOT NULL,
 CONSTRAINT [PK_vc_VidCast] PRIMARY KEY CLUSTERED 
(
	[vc_VidCastID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[vc_VidCastTagList]    Script Date: 05/16/2018 17:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[vc_VidCastTagList](
	[vc_VidCastTagListID] [int] IDENTITY(1,1) NOT NULL,
	[vc_TagID] [int] NOT NULL,
	[vc_VidCastID] [int] NOT NULL,
 CONSTRAINT [PK_vc_VidCastTagList] PRIMARY KEY CLUSTERED 
(
	[vc_VidCastTagListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[vc_FollowerList] ON 
GO
INSERT [dbo].[vc_FollowerList] ([vc_FollowerListID], [FollowerID], [FollowedID], [FollowerSince]) VALUES (1, 9, 31, CAST(N'2018-01-21T10:19:12.000' AS DateTime))
GO
INSERT [dbo].[vc_FollowerList] ([vc_FollowerListID], [FollowerID], [FollowedID], [FollowerSince]) VALUES (2, 3, 29, CAST(N'2018-02-11T19:40:48.000' AS DateTime))
GO
INSERT [dbo].[vc_FollowerList] ([vc_FollowerListID], [FollowerID], [FollowedID], [FollowerSince]) VALUES (3, 31, 21, CAST(N'2018-01-29T17:45:36.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[vc_FollowerList] OFF
GO
SET IDENTITY_INSERT [dbo].[vc_Status] ON 
GO
INSERT [dbo].[vc_Status] ([vc_StatusID], [StatusText]) VALUES (3, N'Finished')
GO
INSERT [dbo].[vc_Status] ([vc_StatusID], [StatusText]) VALUES (1, N'Scheduled')
GO
INSERT [dbo].[vc_Status] ([vc_StatusID], [StatusText]) VALUES (2, N'Started')
GO
SET IDENTITY_INSERT [dbo].[vc_Status] OFF
GO
SET IDENTITY_INSERT [dbo].[vc_Tag] ON 
GO
INSERT [dbo].[vc_Tag] ([vc_TagID], [TagText], [TagDescription]) VALUES (1, N'Personal', NULL)
GO
INSERT [dbo].[vc_Tag] ([vc_TagID], [TagText], [TagDescription]) VALUES (2, N'Professional', NULL)
GO
INSERT [dbo].[vc_Tag] ([vc_TagID], [TagText], [TagDescription]) VALUES (3, N'Sports - General', NULL)
GO
SET IDENTITY_INSERT [dbo].[vc_Tag] OFF
GO
SET IDENTITY_INSERT [dbo].[vc_User] ON 
GO
INSERT [dbo].[vc_User] ([vc_UserID], [UserName], [EmailAddress], [UserDescription], [WebSiteURL], [UserRegisteredDate]) VALUES (1, N'ethanol', N'Donec.tempus@penatibusetmagnis.co.uk', N'Agile development non-disclosure agreement equity analytics crowdfunding value proposition branding low hanging fruit. ', N'http://ethanol.vidcast659.site', CAST(N'2017-12-30T22:19:12.000' AS DateTime))
GO
INSERT [dbo].[vc_User] ([vc_UserID], [UserName], [EmailAddress], [UserDescription], [WebSiteURL], [UserRegisteredDate]) VALUES (2, N'dispatcher', N'quam@aptenttacitisociosqu.ca', N'A/B testing handshake disruptive seed money infographic iteration paradigm shift validation alpha advisor buyer. ', N'http://dispatcher.vidcast659.site', CAST(N'2017-12-08T03:36:00.000' AS DateTime))
GO
INSERT [dbo].[vc_User] ([vc_UserID], [UserName], [EmailAddress], [UserDescription], [WebSiteURL], [UserRegisteredDate]) VALUES (3, N'camel', N'mauris@massanon.edu', N'User experience founders branding entrepreneur iteration gen-z. ', N'http://camel.vidcast659.site', CAST(N'2017-08-14T03:21:36.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[vc_User] OFF
GO
SET IDENTITY_INSERT [dbo].[vc_UserTagList] ON 
GO
INSERT [dbo].[vc_UserTagList] ([vc_UserTagListID], [vc_TagID], [vc_UserID]) VALUES (18, 1, 4)
GO
INSERT [dbo].[vc_UserTagList] ([vc_UserTagListID], [vc_TagID], [vc_UserID]) VALUES (69, 1, 11)
GO
INSERT [dbo].[vc_UserTagList] ([vc_UserTagListID], [vc_TagID], [vc_UserID]) VALUES (5, 1, 18)
GO
SET IDENTITY_INSERT [dbo].[vc_UserTagList] OFF
GO
SET IDENTITY_INSERT [dbo].[vc_VidCast] ON 
GO
INSERT [dbo].[vc_VidCast] ([vc_VidCastID], [VidCastTitle], [StartDateTime], [EndDateTime], [ScheduleDurationMinutes], [RecordingURL], [vc_UserID], [vc_StatusID]) VALUES (1, N'Spiders Of Technology', CAST(N'2018-02-03T17:31:12.000' AS DateTime), CAST(N'2018-02-03T21:36:00.000' AS DateTime), 35, N'~/DAQCYUE', 34, 3)
GO
INSERT [dbo].[vc_VidCast] ([vc_VidCastID], [VidCastTitle], [StartDateTime], [EndDateTime], [ScheduleDurationMinutes], [RecordingURL], [vc_UserID], [vc_StatusID]) VALUES (2, N'Flowers Of Time', CAST(N'2018-01-12T04:48:00.000' AS DateTime), CAST(N'2018-01-12T07:55:12.000' AS DateTime), 81, N'~/AJRRYMD', 57, 3)
GO
INSERT [dbo].[vc_VidCast] ([vc_VidCastID], [VidCastTitle], [StartDateTime], [EndDateTime], [ScheduleDurationMinutes], [RecordingURL], [vc_UserID], [vc_StatusID]) VALUES (3, N'Insects Of Heaven', CAST(N'2018-02-07T22:48:00.000' AS DateTime), CAST(N'2018-02-07T23:02:24.000' AS DateTime), 71, N'~/QIYXMQG', 46, 3)
GO
SET IDENTITY_INSERT [dbo].[vc_VidCast] OFF
GO
SET IDENTITY_INSERT [dbo].[vc_VidCastTagList] ON 
GO
INSERT [dbo].[vc_VidCastTagList] ([vc_VidCastTagListID], [vc_TagID], [vc_VidCastID]) VALUES (3607, 1, 1)
GO
INSERT [dbo].[vc_VidCastTagList] ([vc_VidCastTagListID], [vc_TagID], [vc_VidCastID]) VALUES (3598, 1, 5)
GO
INSERT [dbo].[vc_VidCastTagList] ([vc_VidCastTagListID], [vc_TagID], [vc_VidCastID]) VALUES (3593, 1, 6)
GO
SET IDENTITY_INSERT [dbo].[vc_VidCastTagList] OFF
GO
/****** Object:  Index [U1_vc_FollowerList]    Script Date: 05/16/2018 17:29:25 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]') AND name = N'U1_vc_FollowerList')
ALTER TABLE [dbo].[vc_FollowerList] ADD  CONSTRAINT [U1_vc_FollowerList] UNIQUE NONCLUSTERED 
(
	[FollowerID] ASC,
	[FollowedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U1_vc_Status]    Script Date: 05/16/2018 17:29:25 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_Status]') AND name = N'U1_vc_Status')
ALTER TABLE [dbo].[vc_Status] ADD  CONSTRAINT [U1_vc_Status] UNIQUE NONCLUSTERED 
(
	[StatusText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U1_vc_Tag]    Script Date: 05/16/2018 17:29:25 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_Tag]') AND name = N'U1_vc_Tag')
ALTER TABLE [dbo].[vc_Tag] ADD  CONSTRAINT [U1_vc_Tag] UNIQUE NONCLUSTERED 
(
	[TagText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U1_vc_User]    Script Date: 05/16/2018 17:29:25 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_User]') AND name = N'U1_vc_User')
ALTER TABLE [dbo].[vc_User] ADD  CONSTRAINT [U1_vc_User] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U2_vc_User]    Script Date: 05/16/2018 17:29:25 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_User]') AND name = N'U2_vc_User')
ALTER TABLE [dbo].[vc_User] ADD  CONSTRAINT [U2_vc_User] UNIQUE NONCLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U1_vc_UserTagList]    Script Date: 05/16/2018 17:29:25 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]') AND name = N'U1_vc_UserTagList')
ALTER TABLE [dbo].[vc_UserTagList] ADD  CONSTRAINT [U1_vc_UserTagList] UNIQUE NONCLUSTERED 
(
	[vc_TagID] ASC,
	[vc_UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [U1_vc_VidCastTagList]    Script Date: 05/16/2018 17:29:25 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]') AND name = N'U1_vc_VidCastTagList')
ALTER TABLE [dbo].[vc_VidCastTagList] ADD  CONSTRAINT [U1_vc_VidCastTagList] UNIQUE NONCLUSTERED 
(
	[vc_TagID] ASC,
	[vc_VidCastID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__vc_User__UserReg__69FBBC1F]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[vc_User] ADD  DEFAULT (getdate()) FOR [UserRegisteredDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DF__vc_UserLo__UserL__6CD828CA]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[vc_UserLogin] ADD  DEFAULT (getdate()) FOR [UserLoginTimestamp]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK1_vc_FollowerList]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]'))
ALTER TABLE [dbo].[vc_FollowerList]  WITH CHECK ADD  CONSTRAINT [FK1_vc_FollowerList] FOREIGN KEY([FollowerID])
REFERENCES [dbo].[vc_User] ([vc_UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK1_vc_FollowerList]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]'))
ALTER TABLE [dbo].[vc_FollowerList] CHECK CONSTRAINT [FK1_vc_FollowerList]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK2_vc_FollowerList]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]'))
ALTER TABLE [dbo].[vc_FollowerList]  WITH CHECK ADD  CONSTRAINT [FK2_vc_FollowerList] FOREIGN KEY([FollowedID])
REFERENCES [dbo].[vc_User] ([vc_UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK2_vc_FollowerList]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_FollowerList]'))
ALTER TABLE [dbo].[vc_FollowerList] CHECK CONSTRAINT [FK2_vc_FollowerList]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK1_vc_UserLogin]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserLogin]'))
ALTER TABLE [dbo].[vc_UserLogin]  WITH CHECK ADD  CONSTRAINT [FK1_vc_UserLogin] FOREIGN KEY([vc_UserID])
REFERENCES [dbo].[vc_User] ([vc_UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK1_vc_UserLogin]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserLogin]'))
ALTER TABLE [dbo].[vc_UserLogin] CHECK CONSTRAINT [FK1_vc_UserLogin]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList_vc_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]'))
ALTER TABLE [dbo].[vc_UserTagList]  WITH CHECK ADD  CONSTRAINT [vc_UserTagList_vc_Tag] FOREIGN KEY([vc_TagID])
REFERENCES [dbo].[vc_Tag] ([vc_TagID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList_vc_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]'))
ALTER TABLE [dbo].[vc_UserTagList] CHECK CONSTRAINT [vc_UserTagList_vc_Tag]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList_vc_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]'))
ALTER TABLE [dbo].[vc_UserTagList]  WITH CHECK ADD  CONSTRAINT [vc_UserTagList_vc_User] FOREIGN KEY([vc_UserID])
REFERENCES [dbo].[vc_User] ([vc_UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_UserTagList_vc_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_UserTagList]'))
ALTER TABLE [dbo].[vc_UserTagList] CHECK CONSTRAINT [vc_UserTagList_vc_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCast_vc_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCast]'))
ALTER TABLE [dbo].[vc_VidCast]  WITH CHECK ADD  CONSTRAINT [vc_VidCast_vc_Status] FOREIGN KEY([vc_StatusID])
REFERENCES [dbo].[vc_Status] ([vc_StatusID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCast_vc_Status]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCast]'))
ALTER TABLE [dbo].[vc_VidCast] CHECK CONSTRAINT [vc_VidCast_vc_Status]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCast_vc_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCast]'))
ALTER TABLE [dbo].[vc_VidCast]  WITH CHECK ADD  CONSTRAINT [vc_VidCast_vc_User] FOREIGN KEY([vc_UserID])
REFERENCES [dbo].[vc_User] ([vc_UserID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCast_vc_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCast]'))
ALTER TABLE [dbo].[vc_VidCast] CHECK CONSTRAINT [vc_VidCast_vc_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList_vc_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]'))
ALTER TABLE [dbo].[vc_VidCastTagList]  WITH CHECK ADD  CONSTRAINT [vc_VidCastTagList_vc_Tag] FOREIGN KEY([vc_TagID])
REFERENCES [dbo].[vc_Tag] ([vc_TagID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList_vc_Tag]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]'))
ALTER TABLE [dbo].[vc_VidCastTagList] CHECK CONSTRAINT [vc_VidCastTagList_vc_Tag]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList_vc_VidCast]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]'))
ALTER TABLE [dbo].[vc_VidCastTagList]  WITH CHECK ADD  CONSTRAINT [vc_VidCastTagList_vc_VidCast] FOREIGN KEY([vc_VidCastID])
REFERENCES [dbo].[vc_VidCast] ([vc_VidCastID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList_vc_VidCast]') AND parent_object_id = OBJECT_ID(N'[dbo].[vc_VidCastTagList]'))
ALTER TABLE [dbo].[vc_VidCastTagList] CHECK CONSTRAINT [vc_VidCastTagList_vc_VidCast]
GO

DELETE vc_VidCastTagList where vc_VidCastID IN (select vc_VidCastID from vc_VidCast where vc_UserID IN (27, 28))
delete vc_VidCast where vc_UserID IN (27, 28)
DELETE vc_VidCastTagList where vc_TagID = 6


